html {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

body {
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;
}

.name_holder {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.name_holder h3 span {
  font-weight: 500;
  color: #e3872d;
}

.image_wrap {
  display: inline-block;
  margin-bottom: 38px;
  background-color: black;
}

.name_holder h3 {
  font-family: 'Montserrat';
  color: #fff;
  font-size: 50px;
  font-weight: 50px;
}

.name_holder p {
  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat';
}

.content {
  margin: 0;
  padding: 0;
}

.inner_content {
  width: 100%;
  top: 0px;
  position: relative;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

img {
  opacity: 0.3;
}

span {
  display: inline-block;
}

.leftpart_wrap {
  position: fixed;
  width: 250px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: black;
  z-index: 100;
}

.leftpart_upper {
  padding-top: 120px;
  padding-left: 40px;
}
.leftpart_upper li a {
  text-decoration: none;
  line-height: 3.5;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat';
}

.leftpart_upper li a:hover {
  color: #e3872d;
}

.leftpart_bottom {
  padding-top: 280px;
  padding-left: 40px;
}

.leftpart_bottom li {
  display: inline-block;
}

.leftpart_bottom li a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  padding: 2px;
  position: relative;
  text-align: center;
}

.leftpart_bottom li a:hover {
  color: #e3872d;
}

/*ABOUT*/

/*ABOUT LEFT*/
#about h3 {
  font-family: 'Montserrat';
  color: black;
  font-size: 50px;
  font-weight: 50px;
  padding-left: 25%;
}

#about p {
  font-family: 'Montserrat';
  color: black;
  font-size: 16px;
  font-weight: 50px;
  padding-left: 25%;
}

/*ABOUT RIGHT*/
.title_holder {
  margin-left: 50%;
  padding: 20px;
  display: inline-block;
  border-style: dotted;
  border-color: #e3872d;
}

.title_holder p {
  color: black;
  font-size: 24px;
  font-family: 'Montserrat';
}

.title_holder article {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
}

.profile_holder img {
  position: absolute;
  top: 200%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 70%;
}

#about h3:before {
  position: absolute;
  content: '';
  width: 6px;
  height: 72px;
  background-color: #e3872d;
  opacity: 50%;
}

article span {
  color: #e3872d;
}

/*SKILLS*/
.skills {
  margin-left: 250px;
  position: absolute;
  top: 240%;
  width: 100%;
  background-color: lightgray;
  display: flex;
  height: 150px;
}

.skill_explain p {
  padding-left: 5%;
  color: black;
  font-size: 24px;
  font-family: 'Montserrat';
}

.skill_explain article {
  padding-left: 5%;
  width: 65%;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
}

.skill_list ul li {
  list-style-type: none;
  vertical-align: middle;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.5px;
}
